
.cen{
    margin-left: 30%;
    box-shadow: 5px 5px 10px #888888;
    width: 400px;
    border-radius: 10px;
    border-color: aquamarine;
    background-color: antiquewhite;
    border-style: ridge;
    flex-wrap: wrap;
}
.cen5{
    margin-left: 40%;
    font-size: 40px;
    color: blue;
}
.cen2{
    margin-left: 120px;
    color: black;
}
.text{
    margin-left: 40px;
    width: 300px;
    height: 20px;
}
.log{
    margin-left: 40px;
    width: 300px;
    height: 30px;   
    background-color: blue;
    color: white;
}
.forget{
    margin-left: 30%;
}
.font1{
    font-size: 15px;
    margin-left: 30%;
    background-color: green;
    color: white;
    width: 200px;
    border-radius: 5px;
    height: 30px;
}